@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}
@section Header
{
	@Html.Partial("_layouts/simpleheader.cshtml")
}

  <header>
  <div class="head-inner">
    <h1>About me</h1>
  </div>
  </header>

  <div>
    <p>
      My name is Guilherme Ferreira and I'm a <a href="http://www.pinterest.com/igori/portugal/">Portuguese</a> software developer. I started this blog with the intent of share with you the lessons that I learn. I'm really excited about software development, technology, entrepreneurship and productivity methodologies. I'm also a football fan (the european), addicted to coffee and a foodie (it's true... a geek can cook!).
    </p>
    <p>
       This isn't only a tech blog, it's my personal page. So you can expect to find a lot more than bits and bytes. Take a look at my work, subscribe the feed and I will be grateful for any suggestions or advice you have.
    </p>
  </div>


<h2>
  What I do?
</h2>
<p>
  <ul>
    <li>
     Co-founder of Talkslab
     <ul>
        <li>
          Creators of <a href="https://github.com/TalksLab/metro-bootstrap">metro-bootstrap</a> a Twitter Bootstrap metro style framework
        </li>
        <li>
          Creators of <a href="/images/about-eventurb.png">eventurb</a>, an event sharing platform. Unfortunately is no longer active.
        </li>
     </ul>
    </li>
    <li>
      Web developer and identity designer of <a href="http://www.golden-account.com">Golden Account</a>
    </li>
  </ul>
</p>



<h2>
  How can you find me?
</h2>
<p>
  <ul>
    <li>
     <a href="http://twitter.com/gsferreira">twitter</a>
    </li>
    <li>
     <a href="http://github.com/gsferreira">github</a>
    </li>
    <li>
     <a href="http://stackoverflow.com/users/237766/guilherme-ferreira">stackoverflow</a>
    </li>
    <li>
     <a href="http://www.linkedin.com/in/gferreira">linkedin</a>
    </li>
    <li>
     <a href="http://www.facebook.com/gsferreira">facebook</a>
    </li>
    <li>
     <a href="http://foursquare.com/gsferreira">foursquare</a>
    </li>
    <li>
      Or just mail me at: <a href="mailto:me@gsferreira.com">me@gsferreira.com</a>
    </li>
  </ul>
</p>
