        <header id="masthead" class="site-header" role="banner">
            <hgroup>
				<a href="/" title="Home"><img width="60" height="60" src="/images/logo.jpg" title="logo"></a>
                <h1 class="site-title"><a href="/" title="Guilherme Ferreira" rel="home">Guilherme Ferreira</a></h1>
				<h2 class="site-description">Developer, Entrepreneur, Foodie, Addicted to coffee</h2>
            </hgroup>
            <nav role="navigation" class="site-navigation main-navigation">
                <h1 class="assistive-text">Menu</h1>
                <div class="assistive-text skip-link"><a href="#content" title="Skip to content">Skip to content</a></div>
                <div class="menu">
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/category">Categories</a></li>
                        <li><a href="/archive">Archive</a></li>
                        <li><a href="/rss.xml" onClick="_gaq.push(['_trackEvent', 'Global', 'RssSubscribe', 'Rss Subscribe on Default Page']);">RSS</a></li>
                        <li><a href="http://twitter.com/gsferreira">&#64;gsferreira</a></li>
                        <li><a href="http://github.com/gsferreira">GitHub</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        