<header id="masthead" class="simple-header" role="banner">
	<hgroup>
		<a href="/" title="Home"><img width="40" height="40" src="http://www.gravatar.com/avatar/93c1c26212f9eb3673538e6ad6ca7eb4.png" title="logo"  alt="logo"></a>
		<h1 class="site-title"><a href="/" title="Snow Byte" rel="home">Guilherme Ferreira</a>
	</hgroup>
</header>
        